{% extends 'aa_timezones/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">text</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">
            {{ text }}
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static 'aa_timezones/js/clock-timezone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aa_timezones/js/moments.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aa_timezones/js/jquery.timeago.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aa_timezones/js/moment-timezone-with-data-2012-2022.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
