/build/
/dist/
/*.egg-info/
.idea/
.tox/
htmlcov/
node_modules/

*.log
*.tmp
*.bak
*.old
__pycache__
.coverage
/coverage.xml
alliance_auth.sqlite3

/*.min.css
/*.min.css.map
/*.min.js
/*.min.js.map

/timezones/locale/en/
.esi-compatibility-date
.make/myauth-path
/.make/config-overrides.ini
