[settings]
profile = black
multi_line_output = 3
sections=FUTURE,STDLIB,THIRDPARTY,DJANGO,ALLIANCEAUTH,ALLIANCEAUTHEXTERNALS,FIRSTPARTY,LOCALFOLDER

known_allianceauth=allianceauth,esi
known_allianceauthexternals=app_utils,eveuniverse
known_django=django

import_heading_stdlib=Standard Library
import_heading_django=Django
import_heading_allianceauth=Alliance Auth
import_heading_allianceauthexternals=Alliance Auth (External Libs)
import_heading_firstparty=AA Time Zones
import_heading_thirdparty=Third Party
