# Apply to all files without committing:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Identify invalid files
      - id: check-ast
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-xml

      # git checks
      - id: check-merge-conflict
      - id: check-added-large-files
        args:
          - --maxkb=1000
      - id: detect-private-key
      - id: check-case-conflict

      # Python checks
      - id: check-docstring-first
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: fix-byte-order-marker
      - id: check-builtin-literals

      # General quality checks
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
        exclude: |
          (?x)(
            .min.css|
            .min.js|
            .po|
            .mo|
            static/(.*)/libs/
          )
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            .min.css|
            .min.js|
            .po|
            .mo|
            static/(.*)/libs/
          )

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.46.0
    hooks:
      - id: eslint
        exclude: |
          (?x)(
            .min.js|
            static/(.*)/libs/
          )

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa  # Enforce that noqa annotations always occur with specific codes. Sample annotations: # noqa: F401, # noqa: F401,W203
      - id: python-check-blanket-type-ignore  # Enforce that # type: ignore annotations always occur with specific codes. Sample annotations: # type: ignore[attr-defined], # type: ignore[attr-defined, name-defined]
      - id: python-check-mock-methods  # Prevent common mistakes of assert mck.not_called(), assert mck.called_once_with(...) and mck.assert_called
      - id: python-no-eval  # A quick check for the eval() built-in function
      - id: python-no-log-warn  #  A quick check for the deprecated .warn() method of python loggers
      - id: python-use-type-annotations  # Enforce that python3.6+ type annotations are used instead of type comments

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.2
    hooks:
      - id: editorconfig-checker
        exclude: |
          (?x)(
            LICENSE|
            static/(.*)/libs/
          )

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: text-unicode-replacement-char

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.14.0
    hooks:
      - id: django-upgrade
        args:
          - --target-version=4.0

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: v1.1.3
    hooks:
      - id: black-disable-checker

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        args:
          - --target-version=py38

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.15.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.7.0
        args:
          - --target-version=py38

  - repo: https://github.com/pylint-dev/pylint
    rev: v3.0.0a6
    hooks:
      - id: pylint
        args:
          - --py-version=3.8.0
