# Apply to all files without committing:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate --freeze

# Set the default language versions for the hooks
default_language_version:
  python: python3  # Force all Python hooks to use Python 3
  node: 22.13.1  # Force all Node hooks to use the latest Node LTS

# https://pre-commit.ci/
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  skip:
    - eslint  # Fails due to missing node environment in CI
  submodules: false

# Globally exclude files
# https://pre-commit.com/#top_level-exclude
exclude: |
  (?x)(
    .github/|
    LICENSE|
    .min(.css|.css.map|.js|.js.map)|
    locale/|
    static/(.*)/libs/
  )

# pre-commit setup
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      # Identify invalid files
      - id: check-ast
        name: check-ast (Python)
        description: Check for syntax errors in Python files.

      - id: check-yaml
        name: check-yaml (YAML)
        description: Check for syntax errors in YAML files.

      - id: check-json
        name: check-json (JSON)
        description: Check for syntax errors in JSON files.

      - id: check-toml
        name: check-toml (TOML)
        description: Check for syntax errors in TOML files.

      - id: check-xml
        name: check-xml (XML)
        description: Check for syntax errors in XML files.

      # git checks
      - id: check-merge-conflict
        name: Check for merge conflict strings
        description: Check for files that contain merge conflict strings.

      - id: check-added-large-files
        name: Check for large files
        description: Check for large files that were added to the repository.
        args:
          - --maxkb=1000

      - id: detect-private-key
        name: Detect private key
        description: Check for private keys in the repository.

      - id: check-case-conflict
        name: Check for case conflicts
        description: Check for files with names that differ only in case.

      # Python checks
      - id: check-docstring-first
        name: Check for docstring in first line
        description: Check that the first line of a file is a docstring.

      - id: debug-statements
        name: Check for debug statements
        description: Check for print statements and pdb imports.

      - id: requirements-txt-fixer
        name: Fix requirements.txt
        description: Fix the formatting of requirements.txt files.

      - id: fix-byte-order-marker
        name: Fix byte order marker
        description: Fix the byte order marker in Python files.

      - id: check-builtin-literals
        name: Check for built-in literals
        description: Check for built-in literals in Python code.

      # General quality checks
      - id: mixed-line-ending
        name: Mixed line ending
        description: Check for mixed line endings.
        args:
          - --fix=lf

      - id: trailing-whitespace
        name: Trailing whitespace
        description: Check for trailing whitespace.
        args:
          - --markdown-linebreak-ext=md

      - id: check-executables-have-shebangs
        name: Check for shebangs in executables
        description: Check that executables have shebangs.

      - id: end-of-file-fixer
        name: End of file fixer
        description: Ensure that files end with a newline.

  - repo: https://github.com/eslint/eslint
    rev: 840140f27a115a5d5f16c2dfc4fbe7af9160adb2  # frozen: v9.39.0
    hooks:
      - id: eslint
        name: ESLint
        description: Check for problems in JavaScript files.
        language: node
        additional_dependencies:
          # eslint itself needs to be here when using additional_dependencies.
          - eslint@9.37.0 # https://github.com/eslint/eslint/releases/latest
          - globals@16.4.0  # https://github.com/sindresorhus/globals/releases/latest

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: 9b7d7bf350be72b9ba00c5577475f721b4adfa58  # frozen: v16.25.0
    hooks:
      - id: stylelint
        name: Stylelint
        description: Check for problems in CSS files.
        language: node
        args:
          - --formatter=compact
        additional_dependencies:
          # stylelint itself needs to be here when using additional_dependencies.
          - stylelint@16.25.0  # https://github.com/stylelint/stylelint/releases/latest
          - stylelint-config-standard@39.0.1  # https://github.com/stylelint/stylelint-config-standard/releases/latest

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 3a6eb0fadf60b3cccfd80bad9dbb6fae7e47b316  # frozen: v1.10.0
    hooks:
      - id: python-check-blanket-noqa  # Enforce that noqa annotations always occur with specific codes. Sample annotations: # noqa: F401, # noqa: F401,W203
        name: Check for blanket noqa
        description: Check for blanket noqa annotations.

      - id: python-check-blanket-type-ignore  # Enforce that # type: ignore annotations always occur with specific codes. Sample annotations: # type: ignore[attr-defined], # type: ignore[attr-defined, name-defined]
        name: Check for blanket type ignore
        description: Check for blanket type ignore annotations.

      - id: python-check-mock-methods  # Prevent common mistakes of assert mck.not_called(), assert mck.called_once_with(...) and mck.assert_called
        name: Check for mock methods
        description: Check for common mistakes of mock methods.

      - id: python-no-eval  # A quick check for the eval() built-in function
        name: Check for eval
        description: Check for the eval() built-in function.

      - id: python-no-log-warn  #  A quick check for the deprecated .warn() method of python loggers
        name: Check for log warn
        description: Check for the deprecated .warn() method of python loggers.

      - id: python-use-type-annotations  # Enforce that python3.6+ type annotations are used instead of type comments
        name: Use type annotations
        description: Enforce that python3.6+ type annotations are used instead of type comments.

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 62dcf364a52192458d66c0dba3a0a1fdb78e4fbe  # frozen: 3.4.1
    hooks:
      - id: editorconfig-checker
        name: EditorConfig Checker
        description: Check for compliance with the definitions in the EditorConfig file.

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 553731fe59437e0bd2cf18b10144116422bed259  # frozen: 1.29.1
    hooks:
      - id: django-upgrade
        name: Django upgrade
        description: Upgrade Django code to a target version.
        args:
          - --target-version=4.2  # Minimum supported Django version for AA. Update as needed.

  - repo: https://github.com/asottile/pyupgrade
    rev: f90119b1b8bd9e46949d9592972b2c4c27d62a97  # frozen: v3.21.0
    hooks:
      - id: pyupgrade
        name: PyUpgrade
        description: Upgrade syntax to newer versions of Python.
        args:
          - --py310-plus  # Minimum required Python version for AA. Update as needed.

  - repo: https://github.com/pycqa/flake8
    rev: d93590f5be797aabb60e3b09f2f52dddb02f349f  # frozen: 7.3.0
    hooks:
      - id: flake8
        name: Flake8
        description: Check for style and complexity issues in Python code.

  - repo: https://github.com/asottile/yesqa
    rev: f2ae90cf9e1661ade79d0881186ce4fd7ba6ee79  # frozen: v1.5.0
    hooks:
      - id: yesqa
        name: YesQA
        description: Check for extraneous `# noqa` comments.

  - repo: https://github.com/PyCQA/isort
    rev: 0a09c783808cfe77bb3269250f663ff733d23302  # frozen: 7.0.0
    hooks:
      - id: isort
        name: Isort
        description: Sort imports.

  - repo: https://github.com/Pierre-Sassoulas/black-disable-checker/
    rev: e37d202bbc277a1e0b2ecbdd6ececd74c8b0352e  # frozen: v1.1.3
    hooks:
      - id: black-disable-checker
        name: Black disable checker
        description: Check for black disable comments.

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: fe95161893684893d68b1225356702ca71f8d388  # frozen: 25.9.0
    hooks:
      - id: black
        name: Black
        description: Format Python code.
        args:
          - --target-version=py310  # Minimum required Python version for AA. Update as needed.

  - repo: https://github.com/asottile/blacken-docs
    rev: dda8db18cfc68df532abf33b185ecd12d5b7b326  # frozen: 1.20.0
    hooks:
      - id: blacken-docs
        name: Blacken docs
        description: Format Python code in documentation files.
        additional_dependencies:
          - black==25.9.0  # https://github.com/psf/black/releases/latest
        args:
          - --target-version=py310  # Minimum required Python version for AA. Update as needed.

  - repo: https://github.com/executablebooks/mdformat
    rev: 2d496dbc18e31b83a1596685347ffe0b6041daf0  # frozen: 1.0.0
    hooks:
      - id: mdformat
        name: Mdformat
        description: Format Markdown files.
        additional_dependencies:
          - mdformat-gfm==0.4.1  # Mdformat plugin for GitHub Flavored Markdown compatibility » https://github.com/hukkin/mdformat-gfm/tags
          - mdformat-toc==0.3.0  # Mdformat plugin to generate a table of contents » https://github.com/hukkin/mdformat-toc/tags
          - mdformat-black==0.1.1  # Mdformat plugin to Blacken Python code blocks » https://github.com/hukkin/mdformat-black/tags
          - mdformat-shfmt==0.2.0  # Mdformat plugin to format shell code blocks » https://github.com/hukkin/mdformat-shfmt/tags

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: be26ee0d710a48f7c1acc1291d84082036207bd3  # frozen: 1.7.0
    hooks:
      - id: tox-ini-fmt
        name: tox.ini formatter
        description: Format the tox.ini file.

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 68b1ed526e7533ac54a2e42874b99ae6c26807a2  # frozen: v2.11.0
    hooks:
      - id: pyproject-fmt
        name: pyproject.toml formatter
        description: Format the pyproject.toml file.
        args:
          - --indent=4
        additional_dependencies:
          - tox==4.30.3  # https://github.com/tox-dev/tox/releases/latest

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: 78f5e0f104cfa803d0597eaa924b4de3becd3e3e  # frozen: v0.24.1
    hooks:
      - id: validate-pyproject
        name: Validate pyproject.toml
        description: Validate the pyproject.toml file.

  - repo: https://github.com/pylint-dev/pylint
    rev: 0eb92d25fd38ba5bad2f8d2ea7df63ad23e18ae3  # frozen: v4.0.2
    hooks:
      - id: pylint
        name: Pylint
        description: Check for errors and code smells in Python code.
        args:
          - --py-version=3.10  # Minimum required Python version for AA. Update as needed.

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 83b816d020105076daac266dbf6bfed199a2da93  # frozen: 0.34.1
    hooks:
      - id: check-github-actions
        name: Check GitHub Actions
        description: This hook checks that GitHub Actions files are valid.
        args:
          - --verbose

      - id: check-github-workflows
        name: Check GitHub Workflows
        description: This hook checks that GitHub Workflows files are valid.
        args:
          - --verbose

      - id: check-dependabot
        name: Check Dependabot Configuration
        description: This hook checks that Dependabot configuration files are valid.
        args:
          - --verbose
