{% load i18n %}

<div class="app-translation-footer text-muted">
    {% translate "Join our team of translators!" as weblate_link_text %}

    <p>
        {% blocktranslate with weblate_link='<a href="https://weblate.ppfeufer.de/engage/alliance-auth-apps/" target="_blank" rel="noopener noreferer">'|add:weblate_link_text|add:'</a>' %}
            Do you want to help translate this app into your language or improve the existing translation? - {{ weblate_link }}
        {% endblocktranslate %}
    </p>
</div>
