@media all {
    .form-inline .form-group {
        margin-bottom: 8px;
        margin-bottom: 0.5rem;
    }

    .timezone-panel-section {
        display: block;
    }

    .timezone-panel-section-time {
        font-size: 140%;
    }

    .timezone-panel-section-utc-offset {
        font-size: 85%;
    }
}
